.doodleContainer{
    background-color: black;
    color: white;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.doodle-title{
    font-size: 10vw;
    justify-content: left;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* font-family: 'Domaine-Display-SemiBold'; */
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 6px;
    font-weight: bold;
}

.disclaimer {
    padding-top: 4rem;
    border-top: solid #ffffff 1px;
    font-style: italic;
    /* text-align: center; */
}

.imgContainer {
    margin-top: 4rem;
}

.img-container{
    display: inline-block;
    width: 50%;
    padding: 15px 15px;
}

.img-container img {
    width: 100%;
    border-radius: 24px;
}

@media (max-width: 960px) { 
    .img-container{
        width: 100%;
        padding: 10px 10px;
    }
 }

