<div class="doodleContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- <h1 class="doodle-title">Creative.</h1> -->
                <div class="creative-img-container">
                    <img class="creative-img" src="../../assets/creative-page/creative.jpg" alt="creative title">
                </div>
            </div>
        </div>
        <!-- Projects -->
        <div class="row">
            <div class="col">
                <div class="containerMain">
                    <div class="project-title-container">
                        <h1 class="project-title">Projects</h1>
                    </div>
                    <main *ngIf="selectWorks$ | async as selectWorks">
                        <ul class="showcase sibling-fade">
                            <div class="inline-block-container" *ngFor="let selectWork of selectWorks.items">
                                
                                <div *ngIf="selectWork.sys.contentType.sys.id == 'selectWork'">
            
                                    <li class="showcase-item">
                                        <a [routerLink]="[selectWork.sys.id]" class="showcase-link">
                                            <div class="showcase-caption">
                                                <h3 class="showcase-title">{{ selectWork.fields.title }}</h3>
                                                <p class="category">{{ selectWork.fields.subTitle }}</p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                            
                    </main>
                </div>
            </div>
        </div>
        <!-- End select projects -->

        <!-- Start creative process -->
        <div class="disclaimer">
            <h1 class="project-title">Design and Technology Philosophy</h1>
        </div>
        <div class="row">
            <div class="col">
                <br><br>
                <span> 
                    As a computer science graduate with a minor in visual communication, 
                    I am interested in the intersection between technology and design.
                    <br><br>
                    The weaving of modern tech with digital design is a relatively new concept.
                    Considering everyday
                    people weren't able to create and digitally design themselves using a computer until 
                    around the 1980s. This is when programming languages
                    took off, popularizing design tools, browsers, and software languages such as Adobe, Google Chrome, 
                    Microsoft Internet Explorer, and C++.
                    <br><br>
                    And interdependence between tech and design is seen even more
                    in the past couple years in unique jobs 
                    popping up in mainstream culture. Jobs such as, data visualizer, product designer,
                    blockchain smart contract creator, and
                    VR designer to name a few of my favorites. These two are inevitably connected and will
                    continue to be.
                    <br><br>
                    And in my mind, what connects these two? Most often technology is 
                    created to solve a unique problem for a group of users. The success of the technology solution is 
                    likely dependent on the design. The design needs to address the users needs in form and function.
                    We can't have useful technology without design, and more specifically human-centered design.
                </span> 
                <br><br>
            </div>
        </div>
        <!-- Doodles start -->
        <div class="disclaimer">
            <h1 class="project-title">Doodles</h1>
        </div>
         <div class="imgContainer">
            <main *ngIf="doodles$ | async as doodles">
                <!-- <pre>
                    {{ doodles.items[0].fields.doodleImage[0].fields.file.fileName | json }}
                </pre> -->


                <div class="" *ngFor="let doodleArray of doodles.items">
                    <div *ngIf="doodleArray.sys.contentType.sys.id == 'doodles'">
                        <div class="img-container" *ngFor="let image of doodleArray.fields.doodleImage">
                            <img [src]="image.fields.file.url" 
                            loading="lazy"
                            decoding="async"
                            alt="Doodle">
                        </div>
                    </div>
                        
                </div>
            </main>
        </div>
    </div>
</div>
