<div class="doodleContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="doodle-title">Creative.</h1>
            </div>
        </div>
        <!-- Projects -->
        <div class="row">
            <div class="col">
                <div class="containerMain">
                    <div class="project-title-container">
                        <h1 class="project-title">Projects</h1>
                    </div>
                    <main *ngIf="selectWorks$ | async as selectWorks">
                        <ul class="showcase sibling-fade">
                            <div class="inline-block-container" *ngFor="let selectWork of selectWorks.items">
                                
                                <div *ngIf="selectWork.sys.contentType.sys.id == 'selectWork'">
            
                                    <li class="showcase-item">
                                        <a [routerLink]="[selectWork.sys.id]" class="showcase-link">
                                            <div class="showcase-caption">
                                                <h3 class="showcase-title">{{ selectWork.fields.title }}</h3>
                                                <p class="category">{{ selectWork.fields.subTitle }}</p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                            
                    </main>
                </div>
            </div>
        </div>
        <!-- End select projects -->
        <div class="disclaimer">
            <h1 class="project-title">Doodles</h1>
        </div>
         <div class="imgContainer">
            <main *ngIf="doodles$ | async as doodles">
                <!-- <pre>
                    {{ doodles.items[0].fields.doodleImage[0].fields.file.fileName | json }}
                </pre> -->


                <div class="" *ngFor="let doodleArray of doodles.items">
                    <div *ngIf="doodleArray.sys.contentType.sys.id == 'doodles'">
                        <div class="img-container" *ngFor="let image of doodleArray.fields.doodleImage">
                            <img [src]="image.fields.file.url" 
                            loading="lazy"
                            decoding="async"
                            alt="Doodle">
                        </div>
                    </div>
                        
                </div>
            </main>
        </div>
    </div>
</div>
