<div class="doodleContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="doodle-title">Doodles.</h1>
            </div>
        </div>
        <div class="disclaimer">
            <span>Sketches I drew. Some are copy cats of cool things found on Pinterest and some are my own.</span>
        </div>
         <div class="imgContainer">
            <main *ngIf="doodles$ | async as doodles">
                <!-- <pre>
                    {{ doodles.items[0].fields.doodleImage[0].fields.file.fileName | json }}
                </pre> -->


                <div class="" *ngFor="let doodleArray of doodles.items">
                    <div *ngIf="doodleArray.sys.contentType.sys.id == 'doodles'">
                        <div class="img-container" *ngFor="let image of doodleArray.fields.doodleImage">
                            <img [src]="image.fields.file.url" 
                            loading="lazy"
                            decoding="async"
                            alt="Doodle">
                        </div>
                    </div>
                        
                </div>
            </main>
        </div>
    </div>
</div>
