.aboutContainer{
    background-color: black;
    color: white;
    /* font-family: 'Roboto Flex', sans-serif; */
    padding-top: 6rem;
}

.about-title{
    font-size: 10vw;
    display: flex;
    padding-bottom: 4rem;
    padding-top: 4rem;
    /* font-family: 'Domaine-Display-SemiBold'; */
}

.description-titles{
    color: white;
}

.about-section {
    padding-left: 10em;
    padding-right: 10em;
    color: #aaaaaa;
    padding-top: 4rem;
    font-size: 20px;
    border-top: solid #ffffff 1px;
}

.sub-desc-titles{
    color: white;
}

@media (max-width: 576px) { 
    .about-subtitle{
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.8em;
    }
}

 /* Info section */
.info-title-container{
    padding-top: 10em;
    padding-bottom: 6em;
}

.info-title{
  font-size: 4em;
  /* text-align: center; */
}
  
 