<div class="aboutContainer">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="about-title">Me</span>
            </div>
        </div>
        <div class="row">
            <div class="col about-subtitle">
                <span>Data privacy consultant by day. Beer connoisseur by night. 
                    Computer programmer by trade. Designer by passion.
                </span>
                <br><br>
                <h3 class="description-titles">Where I was</h3><br>
                <span>I started as a software engineer. But soon realized it wasn't 
                    the place for me. I love code, but I didn't love coding as my job; it
                    was more of a hobby. After college, I find myself working for Deloitte
                    in the cyber practice focused on data privacy. It's a great
                    balance between technical and stragetic. Although, lately I find myself lacking 
                    a creative outlet. That's where this website comes in - a mix of 
                    designing and developing to feed my creative urge.
                </span>
                <br><br>
                <h3 class="description-titles">Where I am</h3><br>
                <span>My values/mission. My take and insight on design - intersection of 
                    art and technology.

                    I have started writing as a way to finesse my craft and crystallize 
                    my thinking. I don't write about one topic, but rather whatever is on my 
                    mind at the time. 

                    If I had to describe my brain in three words... open, goofy, 
                    minimalistic (in a good way, I think haha)
                </span> 
                <br><br>
                <h3 class="description-titles">Where I'm going</h3><br>
                <span>
                    TBD
                </span>
            </div>
        </div>
        
    </div>
</div>
