.aboutContainer{
    background-color: black;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

.about-title{
    font-size: 12vw;
    text-align: center;
    display: flex;
    padding-bottom: 2em;
    padding-top: 1.5em;
    line-height: 1;
    /* font-family: 'Domaine-Display-SemiBold'; */
}

.description-titles{
    color: white;
 }

.about-subtitle {
    padding-left: 10em;
    padding-right: 10em;
    color: #aaaaaa;
    padding-top: 4rem;
    font-size: 20px;
}

@media (max-width: 576px) { 
    .about-subtitle{
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.8em;
    }
 }

 /* Info section */
.info-title-container{
    padding-top: 10em;
    padding-bottom: 6em;
}

.info-title{
  font-size: 3em;
  /* text-align: center; */
}
  
 