<div class="aboutContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="about-title">Make memories, care for others & live audaciously.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col about-section">
                <h1 class="description-titles">Where I was</h1><br>
                <span>I'm Anna Peterson. I grew up in a small town named LaCrescent, MN, and currently reside
                    in Minneapolis, MN. I started as a software engineer. But soon realized it wasn't 
                    the place for me. I love code, but I didn't love coding as my job; it
                    was more of a hobby. After college, I found myself working for Deloitte
                    in the cyber practice focused on data privacy. Although, lately I find myself lacking 
                    a creative outlet. That's where this website comes in - a mix of 
                    designing and developing to feed my creative urge.
                </span>
                <br><br>
                <h1 class="description-titles">Where I am</h1><br>

                <span>Data privacy consultant by day. Beer connoisseur by night. 
                    Computer programmer by trade. Designer by passion.
                </span>
                <br><br>
                <h4 class="sub-desc-titles">Career</h4>
                <span>
                    Currently, I work in privacy compliance maturing enterprise wide privacy programs to comply 
                    with external regulators. 
                    <br><br>
                    Favorite parts about my job: 
                    <br>
                    1) articulating technical information
                    into an easy and digestible format - writing or speaking
                    <br>
                    2) braingstorming and strategizing actionable ways to enhance a program / project
                </span> 
                <br><br><br>
                <h4 class="sub-desc-titles">Technlogy & Design</h4>
                <span> 
                    As a computer science graduate with a minor in visual communication, 
                    I am interested in the intersection between technology and design.
                    <br><br>
                    <!-- Design as been around for ages - think 38,000 BCE cave painting, but 
                    technology (at least modern technology such as the cellphone, computer, tv, and the cloud to 
                    name a few) has only been around since the late 1920s (invention of the tv). That is roughly 
                    100 years where these two intertwined. And even shorter if we count from when everyday
                    people were able to create and digitally design themselves using a computer around the 1980s when programming languages
                    took off, popularizing tools, browsers, and software languages such as Adobe, Google Chrome, 
                    Microsoft Internet Explorer, and C++.  -->
                    <!-- <br><br> -->
                    The weaving of modern tech with digital design is a relatively new concept.
                    Considering everyday
                    people were able to create and digitally design themselves using a computer starting 
                    around the 1980s when programming languages
                    took off, popularizing design tools, browsers, and software languages such as Adobe, Google Chrome, 
                    Microsoft Internet Explorer, and C++.

                    And it's seen even more
                    in the past couple years where jobs like data visializer, product designer,
                    blockchain smart contract creator, and
                    VR designer are popping up in mainstream culture. Yet, as a new space these two continue to be 
                    inevitably connected. 
                    <br><br>
                    And in my mind, what connects these two? Most often technology is 
                    created to solve a unique problem for group of users. The success of the technology solution is 
                    likely dependent on the design. The design needs to address the users needs in form and function.
                    We can't have useful technology without design.
                </span> 
                <br><br><br>
                <h4 class="sub-desc-titles">Mission</h4>
                <span>
                    Kindness is contagious. I'm here to spread love and equality. Help a friend & help a stranger. 
                </span> 
                <br><br><br>
                <h4 class="sub-desc-titles">Goals</h4>
                <span>
                    <b>Writing:</b> I started writing as a way to finesse my craft and crystallize 
                    my thinking. I don't write about one topic, but rather whatever is on my 
                    mind at the time. 
                    <br><br>
                    <b>Professional: Just keep swimming.</b> 
                    <br><br>
                    <b>Personal: Make and share memories with my loved ones. Listen. Support people.
                    </b>
                </span>
                <br><br>
                <h1 class="description-titles">Where I'm going</h1><br>
                <span>
                    TBD
                </span>
            </div>
        </div>



        <!-- Info section -->
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="info-title-container">
                        <h1 class="info-title">Work History</h1>
                    </div>
                </div>
                <div class="row">
                    <span>Deloitte (2021 - Present)</span>
                    <i>Cyber and Strategic Risk Consultant</i>
                    <br><br>
                    <span>Preventice Solutions (Summer of 2019)</span>
                    <i>Software Engineer</i>
                    <br><br>
                    <span>Luther College Help Desk (2018-2020)</span>
                    <i>Student Manager</i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="info-title-container">
                        <h1 class="info-title">Skills</h1>
                    </div>
                </div>
                <div class="row">
                    <span>Python - HTML - CSS - JavaScript - C++ - Swift - SQL -
                        Node - Angular - React - Express - Bootstrap - JSON - APIs 
                        - Design Documentation - Object Oriented Programming - CMS

                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="info-title-container">
                        <h1 class="info-title">Tools</h1>
                    </div>
                </div>
                <div class="row">
                    <span>InDesign - Illustrator - Microsoft Azure - AWS - </span>
                </div>
            </div>
        </div>
    </div>
</div>
