<!-- <div class="projContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="desc">
                    <h2>Animal House Coffee Company</h2>
                    <p class="descBody">
                    <br>
                    With mirobreweries taking over the world the goal of this design was to create a modern cold brew
                    coffee company with the style of craft beer. 
                    <br><br>
                    "A craft, no-BS, smooth coffee to accompany your adventurous spirit. Slow roasted for the
                    full flavor of the bean and purley proccessed for authenticity in every sip."
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="deliv">
                    <h6 class="smallHeader">Deliverables</h6>
                    <p class="detailItem">Brand Identity</p>
                    <p class="detailItem">Product Design</p>
                    <p class="detailItem">Creative Direction</p>
                    
                    <br>
                    <h6 class="smallHeader">Tools</h6>
                    <p class="detailItem">Illustrator</p>
                </div>
            </div>
        </div>




        <div class="img-container">
            <div class="row">
                <div class="col-md-4">
                    <img class="img" src="../../assets/projects/animal-house/all-front.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img" src="../../assets/projects/animal-house/all-animal.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img" src="../../assets/projects/animal-house/all-animal.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> -->
<span>works!</span>
