<!-- header code is from https://www.youtube.com/watch?v=gg0-WMVQbdQ -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 col-auto">
        <div>
          <img routerLink="/" src="assets/landing-page/logo-white.png" alt="logo" class="logo">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li><a routerLink="/about" (click)="closeMenu()">About</a></li>
            <!-- <li><a routerLink="/blog" (click)="closeMenu()">Blog</a></li> -->
            <li><a routerLink="/doodles" (click)="closeMenu()">Doodles</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footerContainer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">

        <!-- icons -->
              <ul class="contactMenu nav navbar-nav ml-auto">
              <li class="nav-item social-icon-container">
                  <!-- <a class="email" (click)="email()"> -->
                  <a class="social-icon">
                    <i class="fas fa-envelope fa-2xl"></i>
                  </a>
              </li>
              <li class="nav-item social-icon-container">
                  <a class="social-icon" href="https://github.com/petean09/Sample-Work">
                      <i class="fa-brands fa-github fa-2xl"></i>
                  </a>
              </li>
              <li class="nav-item social-icon-container">
                  <a class="social-icon" href="https://www.linkedin.com/in/anna-g-peterson/">
                      <i class="fab fa-linkedin-in fa-2xl"></i>
                  </a>
              </li>
              <li class="nav-item social-icon-container">
                  <a class="social-icon" href="https://www.instagram.com/anna_peterson3/">
                      <i class="fab fa-instagram fa-2xl"></i>
                  </a>
              </li>
          </ul>


      </div>

      <div class="col-xs-6 copyright-container">
        <p class="copyright">&copy; Anna Peterson 2022</p>
      </div>


    </div>
  </div>
</footer>