<!-- header code is from https://www.youtube.com/watch?v=gg0-WMVQbdQ -->
<header>
  <div class="navbar-container fixed-top" [class.navFilter]="navbarContainer">
    <div class="row navbar-inner">
      <div class="col-md-3 col-sm-3 col-xs-3 col-auto">
        <div>
          <img routerLink="/" src="assets/landing-page/logo-black.png" alt="logo" class="logo">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li><a routerLink="/about" (click)="closeMenu()">About</a></li>
            <li><a routerLink="/blog" (click)="closeMenu()">Writing</a></li>
            <li><a routerLink="/doodles" (click)="closeMenu()">Doodles</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
<!-- <main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main> -->

<footer class="footerContainer">
  <div class="container-fluid">
    <div class="footerSection">
      <div class="row">
        <div class="col-md-7">
          <h1 class="footer-title">I'm wheelie glad you are here!</h1>
        </div>
        <div class="col-md-5 copyright-container">
          <!-- <p class="footer-subtitle">Contact</p>
          <p class="contact-link">LINKEDIN</p>
          <p class="contact-link">INSTAGRAM</p> -->
          
            <div class="gif">
              <iframe src="https://giphy.com/embed/26tn0ONYXTynFU3Be" width="100%" height="100%" style="position:absolute" frameBorder="0"></iframe>
            </div>
        </div>
      </div>
    </div>

    <div class="row bottomFooter">
      <div class="col d-flex align-self-center">
        <span>Made with &lt; &#x3e; by me</span>
      </div>
      <div class="col">
        <!-- icons -->
        <ul class="contactMenu nav navbar-nav ml-auto">
          <li class="nav-item social-icon-container">
              <a class="social-icon" href="mailto:annapeterson.work@gmail.com?subject=Hello there!" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-envelope fa-2xl"></i>
              </a>
          </li>
          <li class="nav-item social-icon-container">
              <a class="social-icon" href="https://github.com/petean09/Sample-Work" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-github fa-2xl"></i>
              </a>
          </li>
          <li class="nav-item social-icon-container">
            <a class="social-icon" href="https://medium.com/@digitalanna" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-medium fa-2xl"></i>
            </a>
          </li>
          <li class="nav-item social-icon-container">
              <a class="social-icon" href="https://www.linkedin.com/in/anna-g-peterson/" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-linkedin-in fa-2xl"></i>
              </a>
          </li>
          <!-- <li class="nav-item social-icon-container">
            <a class="social-icon" href="https://twitter.com/_digitalanna" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-twitter fa-2xl"></i>
            </a>
          </li> -->
          <!-- <li class="nav-item social-icon-container">
              <a class="social-icon" href="https://www.instagram.com/anna_peterson3/" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-instagram fa-2xl"></i>
              </a>
          </li> -->
        </ul>
      </div>
      <div class="col d-flex align-self-center copyright">
        <span>&copy; 2024 Anna Peterson</span>
      </div>
    </div>

  </div>
</footer>