.blogContainer{
    background-color: white;
    color: black;
    padding-top: 6rem;
}

.blog-title{
    font-size: 10vw;
    justify-content: left;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* font-family: 'Domaine-Display-SemiBold'; */
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 6px;
    font-weight: bold;
}

.subscribe-container{
    padding-top: 5em;
    text-align: center;
}

.word {
    color: #e9c62c;;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  
.word:hover {
    color: blue;
    transition: 0.4s ease-in-out;
}

@media (max-width: 576px) { 
    .subscribe-container{
        padding-top: 0;
    }
    .subscribe-text{
        font-size: 16px !important;
    }
    .blog-title{
        justify-content: center;
    }
}

.subscribe{
    padding-top: 15px;
    margin: 0 auto;
}

/* .blog-posts-container{
    padding-left: 5%;
    padding-right: 5%;
} */

.blog-post-container{
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: solid black 1px;
    /* border-right: solid white 1px; */
}

.blog-feature-container{
    margin: auto 0;
    padding-bottom: 20px;
}

.blog-post-title{
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.blog-date{
    color: black;
}

.blog-summary{
    color: black;
    margin-bottom: 35px;
}

.blog-img-container{
    margin: auto 0;
    cursor: pointer;
}

.blog-img-container img {
    width: 100%;
    border-radius: 24px;
}
