<!DOCTYPE html>
<html lang="en">
  <header>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Animated Navbar</title>
  </header>
  <body>
    <app-navigation-bar></app-navigation-bar>
    <!-- <div>app component works</div> -->
  </body>
</html>



<!-- https://codepen.io/hitensharma/pen/dybryGE -->
<!-- <!DOCTYPE html> -->
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Animated Navbar</title>
</head>
<body>
    <nav>
        <div class="logo"> -->
            <!-- <img src="logo.svg" alt="Logo Image"> -->
        <!-- </div>
        <div class="hamburger" (click)="navClick()">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul #links class="nav-links">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Creations</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <script src="nav.js"></script>
</body>
</html> -->