<div class="homeContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="landing-title">I'm Anna Peterson &mdash; coder, designer, data privacy consultant, & learner</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 landing-personal-description">
                <span>
                    Do you ever forget something you learn or lose something you create?
                    <br><br>
                    I do, all the time. That's why I created this place, 
                    my digital mental space, to exercise my neural networks, 
                    capture the useful (sometimes useless) tidbits of information I learn,
                    and share creative things. 
                    <br><br>
                    Essentially, this space is my brain turned digital.
                    <br><br>
                    This also duals as my design project portfolio - check out my creations below! 
                    I create, express, and tinker. 
                </span>
            </div>
            <div class="col-lg-6 personal-image-container">
                <img class="headshot-img" src="../../assets/landing-page/me-placeholder.jpg" alt="headshot">
            </div>
        </div>

       
    <!-- Projects -->
        <div class="row">
            <div class="col">
                <div class="containerMain">
                    <div class="project-title-container">
                        <h1 class="project-title">Select Work</h1>
                    </div>
                    <main *ngIf="selectWorks$ | async as selectWorks">
                        <!-- <pre>{{ selectWorks.items | json }}</pre> -->
                        <ul class="showcase sibling-fade">
                            <div *ngFor="let selectWork of selectWorks.items">
                                
                                <div *ngIf="selectWork.sys.contentType.sys.id == 'selectWork'">
            
                                    <li class="showcase-item">
                                        <a [routerLink]="['select-work/', selectWork.sys.id]" class="showcase-link">
                                            <div class="showcase-caption">
                                                <h3 class="showcase-title">{{ selectWork.fields.title }}</h3>
                                                <p class="category">{{ selectWork.fields.subTitle }}</p>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- 
                                    <li class="showcase-item">
                                            <a [routerLink]="'/expense-elephant'" class="showcase-link">
                                                <div class="showcase-caption">
                                                    <h3 class="showcase-title">Expense Elephant</h3>
                                                    <p class="category">Web Dev</p>
                                                </div>
                                            </a>
                                    </li>
                                    
                            
                                    <li class="showcase-item">
                                        <a [routerLink]="'/restaurant-finder'" class="showcase-link">
                                            <div class="showcase-caption">
                                                <h3 class="showcase-title">Restaurant Finder</h3>
                                                <p class="category">Web Dev</p>
                                            </div>
                                        </a>
                                    </li> -->
                                </div>
                            </div>
                        </ul>
                            
                    </main>
                </div>
            </div>
            <!-- End select creation -->
        </div>
    </div>
</div>