<div class="homeContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="landing-title">Hello, I'm Anna &mdash; cybersecurity consultant, developer, & creative</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 landing-personal-description">
                <span>
                    Welcome to my portfolio!
                    <br><br>
                    I am a cybersecurity consultant in the data privacy, compliance, and application security space
                    with chops in developement. My experience lies in big tech.

                    I enjoy protecting individual's data, excersing my neural networks through writing,
                    and pursuing creative endeavours. 
                    <br><br>
                    If you like what you see, don't hestitate to reach out, it's always great meeting 
                    new people.
                    <br><br>
                    Explore my site to find my <span routerLink="/doodles" class="word">doodles</span> and read my <span routerLink="/blog" class="word">writing.</span> 
                    I mostly write about data privacy as I believe this topic is essential for everyone to know 
                    in today's digital space.
                    
                    <!-- Additionally, I introduce resources and ideas to unabashedly teach women about taking 
                    up space in your own way when working in a male dominated field and the realities
                    of working in the tech world.  -->

                    <!-- I introduce resources and ideas that say FU to the patriarchy. Women deserve to 
                    take up space in the male dominated tech industry and coding world. -->

                    <!-- This also duals as my design project portfolio - check out my creations below! 
                    I create, express, and tinker.  -->
                </span>
            </div>
            <div class="col-lg-6 personal-image-container">
                <img class="headshot-img" src="../../assets/landing-page/me-2.jpg" alt="headshot">
            </div>
        </div>
       
    <!-- Projects -->
        <div class="row">
            <div class="col">
                <div class="containerMain">
                    <div class="project-title-container">
                        <h1 class="project-title">Select Work</h1>
                    </div>
                    <main *ngIf="selectWorks$ | async as selectWorks">
                        <ul class="showcase sibling-fade">
                            <div class="inline-block-container" *ngFor="let selectWork of selectWorks.items">
                                
                                <div *ngIf="selectWork.sys.contentType.sys.id == 'selectWork'">
            
                                    <li class="showcase-item">
                                        <a [routerLink]="['select-work/', selectWork.sys.id]" class="showcase-link">
                                            <div class="showcase-caption">
                                                <h3 class="showcase-title">{{ selectWork.fields.title }}</h3>
                                                <p class="category">{{ selectWork.fields.subTitle }}</p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                            
                    </main>
                </div>
            </div>
        </div>
        <!-- End select projects -->
    </div>
</div>