<div class="homeContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="landing-title">Hello, I'm Anna &mdash; cybersecurity consultant, developer, & creative</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 landing-personal-description">
                <span>
                    Welcome to my portfolio!
                    <br><br>
                    I am a cybersecurity consultant in the data privacy, compliance, and application security space
                    with chops in developement. My experience lies in big tech.

                    I enjoy protecting individual's data, excersing my neural networks through writing,
                    and pursuing creative endeavours. 
                    <br><br>
                    If you like what you see, don't hestitate to reach out, it's always great meeting 
                    new people.
                    <br><br>
                    Explore my site to learn more about 
                    <span routerLink="/about" class="word">ME</span>
                    , find my <span routerLink="/creative" class="word">creative works</span> 
                    and read my <span routerLink="/cyber" class="word">Privacy Blog.</span> 

        
                    
                    <!-- Additionally, I introduce resources and ideas to unabashedly teach women about taking 
                    up space in your own way when working in a male dominated field and the realities
                    of working in the tech world.  -->

                    <!-- I introduce resources and ideas that say FU to the patriarchy. Women deserve to 
                    take up space in the male dominated tech industry and coding world. -->

                    <!-- This also duals as my design project portfolio - check out my creations below! 
                    I create, express, and tinker.  -->
                </span>
            </div>
            <div class="col-lg-6 personal-image-container">
                <img class="headshot-img" src="../../assets/landing-page/me-2.jpg" alt="headshot">
            </div>
        </div>
       
    
    </div>
</div>