.homeContainer{
    background-color: white;
    color: black;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.landing-title{
    font-size: 7vw;
    /* font-family: 'Roboto Flex', sans-serif; */
    /* letter-spacing: 6px; */
    /* font-family: 'Arimo', sans-serif; */
    font-family: 'Domaine-Display-SemiBold';
    line-height: 1.2em;
    /* font-weight: bold; */
}

.landing-personal-description {
    padding-top: 6rem;
    line-height: 1.8em;
    color: black;
    font-size: 1.25em;
}

.personal-image-container { 
    padding-top: 6em;
    
} 

@media only screen and (max-width: 991px ) {
  .personal-image-container { 
    padding-top: 4rem;
  }
}

.headshot-img { 
    object-fit: contain;
    /* border-radius: 50%; */
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.word {
  color: #e9c62c;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.word:hover {
  color: blue;
  transition: 0.4s ease-in-out;
}


